body.dark .ls42-lss-aao-match,
.ls42-lss-aao-match {
  border: 1px solid yellow;
}

.tab-pane.ls42-lss-aao-match-found:not(:first-child) .ls42-lss-aao-no-match {
  filter: brightness(0.6);
}

.ls42-lss-aao-category-match {
  border: 1px solid yellow !important;
}
