.g118-aao-badge {
  border-radius: 8px;
  position: relative;
  top: -20px;
  z-index: 1000;
  background: red;
  color: white;
  width: 16px;
  height: 16px;
  left: -8px;
}

.aao {
  height: 22px;
}
